DATABASE_SSL=0
DATABASE_URL=postgres://localhost/superrentals
DEBUG=1
LIVERELOAD=1
MAPBOX_ACCESS_TOKEN=https://account.mapbox.com/access-tokens/
PORT=8000
SECRET_KEY=not_secret
SECURE_SSL_REDIRECT=0
TEST_PORT=7357
